<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <title>{{displayService}}</title>
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        {{>serviceModals}}
        <div class="container">
            <div class="row bg-white form-container">
                <div class="col-12 align-self-center">
                    <form id="service-form">
                        <div class="text-center">
                            <h1 id="service-heading">Add contact for {{displayService}}</h1>
                        </div>
                        {{#each serviceDetails}}
                            {{#ifNotEquals this "Status"}}
                                {{#ifNotEquals this "Description"}}
                                    {{#ifNotEquals this "Timestamp"}}
                                        {{#ifNotEquals this "Contributor"}}
                                            <div class="form-group row justify-content-center">
                                                <label for="{{this}}" class="col-md-2 col-form-label">{{this}}:</label>
                                                <div class="col-md-4">
                                                    <input type="text" class="form-control" name="{{this}}" id="{{this}}" required placeholder="Contact {{this}}">
                                                    <div class="invalid-feedback d-block" id="{{this}}-feedback"></div>
                                                    {{#ifEquals this "Phone"}}
                                                        <a href="#phoneModal" data-target="#phoneModal" data-toggle="modal">Have multiple phone numbers?</a>
                                                    {{/ifEquals}}
                                                </div>
                                            </div>
                                        {{/ifNotEquals}}
                                    {{/ifNotEquals}}
                                {{/ifNotEquals}}
                            {{/ifNotEquals}}
                        {{/each}}
                        <div class="form-group row justify-content-center">
                            <label for="Description" class="col-md-2 col-form-label">Description:</label>
                            <div class="col-md-4">
                                <textarea name="Description" id="Description" rows="4" class="form-control" >Contact for {{displayService}}</textarea>
                                <small class="form-text text-muted">
                                    Add a description for the contact Ex. conditions/quantity/price
                                </small>
                            </div>
                        </div>
                        <div class="form-group row justify-content-center">
                            <div class="col-md-4 offset-md-2">
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" name="Status" id="Status">
                                    <label for="status" class="form-check-label">
                                        <strong>I have verified this information?</strong>
                                    </label>
                                    <br>
                                    <a href="#statusInfo" data-target="#statusInfo" data-toggle="modal">Know more</a>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row justify-content-center">
                            <div class="col-md-12 text-center">
                                <button class="btn btn-outline-success rounded-pill" type="submit" id="service-form-submit">Add Contact</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <script src="/js/jquery.min.js"></script>
        <script src="/js/popper.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/app.js"></script>
    </body>
</html>